@font-face {
  font-family: 'shrikhandregular';
  src: url("./shrikhand_font/shrikhand-regular-webfont.woff2"), url("./shrikhand_font/shrikhand-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

.icone_nouveau {
  position: absolute;
  right: 20PX;
  top: 20PX;
  height: 30px;
  width: 80PX;
  border-radius: 2PX;
  background-color: #99E2D0;
  color: #578176;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-heart {
  position: absolute;
  right: 30PX;
  bottom: 50PX;
}

.heart-modif {
  position: absolute;
  right: 30PX;
  bottom: 85PX;
}

.fa-heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.33em;
}

body {
  font-family: roboto;
}

.header {
  padding-top: 10PX;
  padding-bottom: 10PX;
  width: 100%;
  box-shadow: 5PX 0PX 10PX grey;
  display: flex;
}

.header__image {
  display: flex;
  width: 50%;
  margin: auto;
}

.header__image img {
  width: 100%;
}

.fa-arrow-left {
  color: black;
}

#back-arrow {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  left: 5%;
}

footer {
  background-color: #3b3a3a;
  padding-left: 5%;
  color: white;
}

.footer_ohmyfood {
  padding-top: 30PX;
  padding-bottom: 30PX;
  font-family: shrikhand;
  font-size: 1.2EM;
}

.liensfooter i {
  width: 25PX;
}

.lienfooter__normal {
  margin-bottom: 15PX;
}

.lienfooter__modif {
  padding-bottom: 30PX;
}

h2 {
  margin-top: 40PX;
  margin-left: 5%;
  margin-bottom: 40PX;
}

.restautitre {
  padding-top: 50PX;
}

h4 {
  margin: 0;
}

.nomville {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #ddd9d9;
}

.nomville .fa-map-marker-alt {
  display: flex;
  align-items: center;
  position: relative;
  left: -5%;
}

.explorestau {
  background-color: #f1eeee;
  padding-bottom: 20PX;
}

.explorestau__phrase1 {
  display: flex;
  justify-content: center;
}

.explorestau__phrase1 h1 {
  margin: 0;
  text-align: center;
  width: 70%;
  padding-top: 40PX;
  font-weight: 500;
  font-size: 1.4em;
}

.explorestau__phrase2 p {
  text-align: center;
  font-weight: 100;
}

.explorestau__bouton {
  display: flex;
  justify-content: center;
  padding-top: 20PX;
  padding-bottom: 30PX;
}

.explorestau__bouton a {
  display: flex;
  text-decoration: none;
  font-weight: bolder;
  color: white;
  border-radius: 25PX;
  height: 45PX;
  width: 220PX;
  background: linear-gradient(#FF79DA, #9356DC);
  justify-content: center;
  align-items: center;
  box-shadow: 1PX 1PX 10PX 1PX #c2c0c0;
}

.etapesfonctionnement {
  display: flex;
  align-items: center;
  margin-bottom: 20PX;
}

.etapesfonctionnement__numero {
  display: flex;
  border-radius: 25PX;
  width: 20PX;
  height: 20PX;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  position: relative;
  left: 10PX;
  font-size: 0.8em;
}

.etapesfonctionnement__logotexte {
  display: flex;
  background-color: #f1eeee;
  border-radius: 20PX;
  height: 60PX;
  width: 90%;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 1PX 1PX 10PX 1PX #c2c0c0;
  color: black;
}

.etapesfonctionnement__lien {
  display: flex;
  background-color: #f1eeee;
  border-radius: 20PX;
  height: 60PX;
  width: 90%;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 1PX 1PX 10PX 1PX #c2c0c0;
  color: black;
  text-decoration: none;
}

.etapesfonctionnement_div {
  padding-bottom: 20PX;
}

.logo_fonctionnement {
  color: grey;
  width: 30%;
  position: relative;
  left: 40PX;
}

.etapesfonctionnement__lien:hover {
  background-color: #e9ddf8;
  color: #9356DC;
  box-shadow: 3PX 3PX 10PX 10PX #c2c0c0;
}

.etapesfonctionnement__lien:hover .logo_fonctionnement::before {
  color: #9356DC;
}

.zone_restaurants {
  background-color: #f1eeee;
}

.carterestaurant a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.carterestaurant {
  width: 90%;
  margin: auto;
  height: 250PX;
  position: relative;
  padding-bottom: 25PX;
}

.carterestaurant__image {
  height: 180PX;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-top-left-radius: 20PX;
  border-top-right-radius: 20PX;
}

.carterestaurant__texte {
  margin: 0;
  background-color: white;
  height: 70PX;
  border-bottom-left-radius: 20PX;
  border-bottom-right-radius: 20PX;
  position: relative;
  color: black;
}

.carterestaurant__texte-1 {
  padding-top: 15PX;
  padding-left: 20PX;
}

.carterestaurant__texte-2 {
  padding-top: 5PX;
  padding-left: 20PX;
  font-weight: lighter;
}

.carterestaumodif {
  padding-bottom: 60PX;
}

.body .html {
  height: 100%;
}

.image-titre img {
  height: 250PX;
  width: 100%;
}

.menu {
  position: absolute;
  background-color: #f1eeee;
  padding-top: 30PX;
  padding-left: 5%;
  border-top-left-radius: 35PX;
  border-top-right-radius: 35PX;
  width: 95%;
  top: 250PX;
}

.menu__titre {
  margin: 0;
}

#coeur-menu {
  position: absolute;
  top: 30PX;
}

.menu__choix {
  border-radius: 10PX;
  height: 60PX;
  width: 95%;
  box-shadow: 1PX 1PX 10PX 1PX #c2c0c0;
  margin-bottom: 15PX;
  background-color: white;
}

.menu__phrase1 {
  padding-left: 10PX;
  padding-top: 10PX;
}

.menu__phrase2prix {
  display: flex;
  justify-content: flex-start;
  padding-top: 5PX;
  padding-left: 10PX;
}

.menu__phrase2 {
  width: 85%;
  font-weight: lighter;
  font-size: 0.8em;
}

.menu__lien {
  text-decoration: none;
  color: black;
}
