.icone_nouveau{
    position:absolute;
    right:20PX;
    top:20PX;
    height: 30px;
    width: 80PX;
    border-radius: 2PX;
    background-color: $tertiary-color;
    color: #578176;
    display: flex;
    align-items: center;
    justify-content: center;

}