@font-face {
    font-family: 'robotothin';
    src: url('./roboto_font/roboto-thin-webfont.woff2'),
         url('./roboto_font/roboto-thin-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shrikhandregular';
    src: url('./shrikhand_font/shrikhand-regular-webfont.woff2'),
         url('./shrikhand_font/shrikhand-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;

}