.nomville{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(221, 217, 217);
}

.nomville .fa-map-marker-alt{
    display: flex;
    align-items: center;
    position: relative;
    left: -5%;
}
