.nomville{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(221, 217, 217);
}

.nomville .fa-map-marker-alt{
    display: flex;
    align-items: center;
    position: relative;
    left: -5%;
}

.explorestau{
    background-color: rgb(241, 238, 238);
    padding-bottom: 20PX;
}
.explorestau__phrase1{
    display: flex;
    justify-content: center;
}

.explorestau__phrase1 h1{
      margin: 0;
      text-align: center;
      width: 70%;
      padding-top: 40PX;
      font-weight: 500;
      font-size: 1.4em;
  }

.explorestau__phrase2 p{
    text-align: center;
    font-weight: 100;
}

.explorestau__bouton{
    display: flex;
    justify-content: center;
    padding-top: 20PX;
    padding-bottom: 30PX;
}

.explorestau__bouton a{
    display: flex;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    border-radius: 25PX;
    height: 45PX;
    width: 220PX;
    background:linear-gradient($secondary-color, $primary-color);
    justify-content: center;
    align-items: center;
    box-shadow: 1PX 1PX 10PX 1PX rgb(194, 192, 192);
}

.etapesfonctionnement{
    display: flex;
    align-items: center;
    margin-bottom: 20PX;
    &__numero{
        display: flex;
        border-radius: 25PX;
        width: 20PX;
        height: 20PX;
        justify-content: center;
        align-items: center;
        color: white;
        background-color:$primary-color;
        position:relative;
        left:10PX;
        font-size: 0.8em;
        
      }
    &__logotexte{
        display: flex;
        background-color:rgb(241, 238, 238);
        border-radius: 20PX;
        height: 60PX;
        width: 90%;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 1PX 1PX 10PX 1PX rgb(194, 192, 192);
    }
}

.etapesfonctionnement__logotexte--modifier{
        display: flex;
        background-color:#e9ddf8;
        border-radius: 20PX;
        height: 60PX;
        width: 90%;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 1PX 1PX 10PX 1PX rgb(194, 192, 192);

}

.logo_fonctionnement{
    color: grey;
    width: 30%;
    position: relative;
    left: 40PX;
        &--modifie{
            color: $primary-color;
            width: 30%;
            position: relative;
            left: 40PX;
            
        }
}
