@media only screen and (min-device-width : 1024px) {
    .header__image{
        width: auto;
    }


.etapesfonctionnement{
    width:30%;
}

.etapesfonctionnement_div{
    display: flex;
    justify-content: center;
}

.carterestaurantbloc{
    display: flex;
    padding: 3%;
}
.carterestaurant{
    margin:0;
    padding:1%;
}

.menucomplet{
    display: flex;
    justify-content: space-around;
}
.entrees, .plats, .desserts{
    padding:0;
    width: 32%;
    padding: 1%;
}

.menu__titre {
    justify-content: center;
}
.fa-heart{
    padding-left:50PX;
}
.image-titre img{
    object-fit: cover;
}
}