.image-titre{
    z-index: 0;
    position: static;
}

.image-titre img{
    height: 250PX;
    width: 100%;
}

.menu{
    background-color: #f1eeee;
    padding-top: 30PX;
    padding-left: 5%;
    border-top-left-radius: 35PX;
    border-top-right-radius: 35PX;
    width: 95%;
    margin-top: -30PX;
    z-index: 1;
    position: relative;
    &__titre{
        margin:0;
    }
}

#coeur-menu{
    position: absolute;
    top:30PX;
}

.menu__choix{
        border-radius: 10PX;
        height: 60PX;
        width: 95%;
        box-shadow: 1PX 1PX 10PX 1PX rgb(194, 192, 192);
        margin-bottom: 15PX;
        background-color: white;
}

.menu__phrase1{
    padding-left:10PX;
    padding-top: 10PX;
}

.menu__phrase2prix{
    display: flex;
    justify-content: flex-start;
    padding-top: 5PX;
    padding-left: 10PX;
}

.menu__phrase2{
    width: 85%;
    font-weight: lighter;
    font-size: 0.8em;
}

.menu__lien{
    text-decoration: none;
    color: black;
}