.entrees{
    opacity:0;
    -moz-animation: anim 1s linear forwards 1s;
    -webkit-animation: anim 1s linear forwards 1s;
    -o-animation: anim 1s linear forwards 1s;
    -ms-animation: anim 1s linear forwards 1s;
    animation: anim 1s linear forwards 1s;
}
.plats{
    opacity:0;
    -moz-animation: anim 1s linear forwards 2s;
    -webkit-animation: anim 1s linear forwards 2s;
    -o-animation: anim 1s linear forwards 2s;
    -ms-animation: anim 1s linear forwards 2s;
    animation: anim 1s linear forwards 2s;
}

.desserts{
    opacity:0;
    -moz-animation: anim 1s linear forwards 3s;
    -webkit-animation: anim 1s linear forwards 3s;
    -o-animation: anim 1s linear forwards 3s;
    -ms-animation: anim 1s linear forwards 3s;
    animation: anim 1s linear forwards 3s;
}
@-moz-keyframes anim {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
 @-webkit-keyframes anim {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
 @-o-keyframes anim {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
 @-ms-keyframes anim {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
 @keyframes anim {
    0%  {opacity:0;}
    100% {opacity:1;}
 }



.image-titre{
    z-index: 0;
    position: static;
}

.image-titre img{
    height: 250PX;
    width: 100%;
}

.menu{
    background-color: #f1eeee;
    padding-top: 30PX;
    border-top-left-radius: 35PX;
    border-top-right-radius: 35PX;
    width: 100%;
    margin-top: -30PX;
    z-index: 1;
    position: relative;
    &__titre{
        margin:0;
        display: flex;
        justify-content: space-around;
    }
}


.entrees {
    padding-right: 5%;
    padding-left: 5%;
}


.menu__choix{
        display: flex;
        border-radius: 10PX;
        max-width: 100%;
        box-shadow: 1PX 1PX 10PX 1PX rgb(194, 192, 192);
        margin-bottom: 15PX;
        background-color: white;
        justify-content: space-between;
        transition-property: transform, width, opacity;
        &--modifie{
        display: flex;
        border-radius: 10PX;
        max-width: 100%;
        box-shadow: 1PX 1PX 10PX 1PX rgb(194, 192, 192);
        background-color: white;
        justify-content: space-between;
        transition-property: transform, width, opacity;

        }
}

.menu__texte{
    padding:10px 0px 10px 10px;
    white-space:nowrap;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    flex: 8;
    overflow: hidden;

}
.menu__phrase1{
    margin:0;
    padding-top: 5PX;
    padding-bottom:5PX;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu__prix{
    padding-bottom:10px;
    display: flex;
    align-items: flex-end;
    flex: 2;

}

.menu__phrase2{
    font-weight: lighter;
    font-size: 0.8em;
    margin:0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu__lien{
    display: flex;
    text-decoration: none;
    color: black;
    
}

.menu__titre{
    font-family:Shrikhand;
    padding-bottom: 20PX;
    font-size: 1.5EM;
    &--modifie{
        padding-left: 5%;
        font-family:Shrikhand;
        padding-bottom: 20PX;
        font-size: 1.4EM;
    }
}

.menu__soustitre{
    width: 30px;
    padding-bottom: 4px;
    font-weight:300;
    border-bottom: 2px solid $tertiary-color;
}

.explorestau__bouton--menu{
    display: flex;
    justify-content: center;
    padding-top: 60PX;
    padding-bottom: 80PX;
    background-color: #f1eeee;
}

.explorestau__bouton--menu a{
    display: flex;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    border-radius: 25PX;
    height: 45PX;
    width: 220PX;
    background:linear-gradient($secondary-color, $primary-color);
    justify-content: center;
    align-items: center;
    box-shadow: 1PX 1PX 10PX 1PX rgb(194, 192, 192);
}

#animation-check {
    background-color: #99E2D0;
    display: flex;
    flex: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;    
}

.fa-check{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $tertiary-color;
    background-color: white;
    border-radius: 25PX;
    width: 22PX;
    height: 22PX;
    transform: rotate(-360deg);
    transition: 0.7s;
    
}

.menu__choix:hover #animation-check{
    display: flex;
    flex:3;
    border-radius:0px 10px 10px 0px;
    transform: scaleX(1);
}

.menu__choix #animation-check{
    transform-origin: 100% 0%;
    transform:scaleX(0);
    transition:transform 0.7s;
}

.menu__choix:hover #animation-check > .fa-check {
    display: flex;
    transform: rotate(0deg);
}

.menu__choix--modifie:hover #animation-check{
    display: flex;
    flex:3;
    border-radius:0px 10px 10px 0px;
    transform: scaleX(1);
}

.menu__choix--modifie #animation-check{
    transform-origin: 100% 0%;
    transform:scaleX(0);
    transition:transform 0.7s;
}

.menu__choix--modifie:hover #animation-check > .fa-check {
    display: flex;
    transform: rotate(0deg);
}