footer{
    background-color: rgb(59, 58, 58);
    padding-left: 5%;
    color: white;
}

.footer_ohmyfood{
    padding-top: 30PX;
    padding-bottom: 30PX;
    font-family: shrikhand;
    font-size: 1.2EM;
}

.liensfooter i{
width: 25PX;
}

.lienfooter__normal{
    margin-bottom: 15PX;
}
.lienfooter__modif{
    padding-bottom: 30PX;
}