body{
    font-family: roboto;
}

.header{
    padding-top: 10PX;
    padding-bottom: 10PX;
    width: 100%;
    box-shadow: 5PX 0PX 10PX grey;
    display: flex;
    &__image{
        display: flex;
        width: 50%;
        margin: auto;
    }
    &__image img{
        width: 100%;
    }
}


.fa-arrow-left{
    color: black;
}

#back-arrow{
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    left: 5%;
}

